@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #012464;
}

html,
body {
  width: 100%;
  height: 100%;
  @apply text-primary;
  @apply text-base;
}

ul.list-disc li::marker {
  font-size: 0.5rem;
}
